<!DOCTYPE html>
<html>
  <head>


    <!-- build:js js/lib.js -->
    <script src="../public/javascripts/build/react.min.js"></script>
	  <script src="../public/javascripts/build/react-dom.min.js"></script>
    <!--<script src="../public/javascripts/build/JSXTransformer.js"></script>-->
    <!-- endbuild -->
  </head>
  <body>
    <div id="example"></div>
    <!-- build:reactjs js/app.js -->
    <script src="../public/javascripts/app.jsx" type="text/jsx"></script>
    <!-- endbuild -->
  </body>
</html>